//META{"name":"Expose X","description":" Support Server for Expose X: https://discord.gg/Pdz7jAH.","author":"Corbs","version":"AutoUpdate"}*//{}
@import url(https://cdn.rawgit.com/CorbsEditor/Themes-for-BetterDiscord/master/Expose%20X/ExposeXRaw.theme.css);

:root {  /* Change the custom background and accent color here and even more! */
    --custombackground: url(IMAGEURL);
    --accentcolor: #738bd7;   /* To reset the color back to default, use #738bd7 */
    --accenttext: white; /* Use this to change the text colors that are on top of the accentcolor, this is to help make text readable if you're using a bright accent color */
    
       /* FONTS MY DUDES */ /* "Whitney" is the default font in Discord */
    --fontchat: Whitney;
    --fontcategoryname: Whitney;
    --fontrolename: Whitney;
    --fontchannelname: Whitney;
    --fonttooltip: Whitney;
    --fontusername: Whitney;
    
        /* Make custom status colors here, you're online? */
    --online: rgb(71, 191, 71);
    --idle: yellow;
    --dnd: red;
    --offline: grey;
    --streaming: purple;
}
