//META{"name":"Expose X Lite Beta","description":" Support Server for Expose X: https://discord.gg/Pdz7jAH.","author":"Corbs","version":"DoesNotAutoUpdate"}*//{}
/* To remove lines and seperators in Discord */
.theme-dark .guildSeparator-1X4GQ1:after {
    background: rgba(47, 49, 54, 0);
}
.header-2o-2hj {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.title-3qD0b-.da-flex.da-horizontal.da-directionRow.da-justifyStart.da-alignCenter.da-noWrap.da-title {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
}
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: hsla(0, 0%, 100%, 0);
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: 1px solid hsla(0, 0%, 100%, 0);
}
.theme-dark .divider-2PMBlV {
    background: hsla(0, 0%, 85%, 0);
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: hsla(0, 0%, 100%, 0);
}
.theme-dark .separator-2zcjq8 {
    border-bottom-color: hsla(0, 0%, 96%, 0);
}
.theme-dark .separator-gCa7yv {
    background-color: hsla(218, 5%, 47%, 0);
}
.theme-dark .divider-3573oO {
    background-color: hsla(218, 5%, 47%, 0);
}
#bd-settings-sidebar .ui-tab-bar-separator {
    background-color: hsla(218, 5%, 47%, 0);
}
.theme-dark .notificationsSound-27jFSh {
    box-shadow: inset 0 -1px 0 0 rgba(79, 84, 92, 0);
}
.theme-dark .row-2okwlC {
    box-shadow: inset 0 -1px 0 hsla(218, 5%, 47%, 0);
}
.theme-dark .item-3eFBNF {
    box-shadow: inset 0 -1px 0 0 rgba(79, 84, 92, 0);
}
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: 0px solid hsla(218,5%,47%,.3);
}
.theme-dark .divider-1pnAR2 {
    background-color: rgba(32, 34, 37, 0);
}
.divider-1pnAR2 {
    height: 0px;
}
.theme-dark .emoji-row {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0);
}
.theme-dark .member-1q7VfX {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0);
}
.theme-dark .invite-settings-invite-row {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0);
}
.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
}
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: hsla(0, 0%, 100%, 0);
}
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top: 0px solid hsla(0,0%,100%,.1);
}
.private-channels .search-bar {
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
}
.theme-dark .headerBar-UHpsPw {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
}
.theme-dark #friends .tab-bar .tab-bar-separator {
    background-color: hsla(0, 0%, 100%, 0);
}
.theme-dark .player-1kJMbj {
    border-bottom-color: rgba(54, 57, 63, 0);
}
.theme-dark .headerText-2niCs_ {
    border-top-color: rgba(47, 49, 54, 0);
}
.theme-dark .sectionLine-JjseS9 {
    background-color: rgba(54, 57, 63, 0);
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-suggestions-header {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
}
.theme-dark #friends .friends-table .friend-table-add-wrapper .friend-table-add-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.theme-dark .footer-1fjuF6 {
    border-color: rgba(32, 34, 37, 0);
}
.tabBarContainer-1s1u-z {
    padding-left: 20px;
}
li.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs.da-role.da-flex.da-alignCenter {
    border-color: transparent; 
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled {
    border-color: hsla(0, 0%, 100%, 0);
}
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: rgba(32, 34, 37, 0);
}
.theme-dark .wrapper-1cBijl {
    border-color: rgba(0, 0, 0, 0);
}
.search-bar .search-bar-inner {
    border: 1px solid rgba(0, 0, 0, 0);
}
.theme-dark .input-cIJ7To:hover {
    border-color: rgba(4, 4, 5, 0);
}
.input-cIJ7To {
    border-width: 0px;
}
.theme-dark .item-3T2z1R {
    border-color: rgba(24, 25, 28, 0);
}
.itemGroup-1tL0uz:not(:empty)~.itemGroup-1tL0uz:empty+.itemGroup-1tL0uz:not(:empty) {
    border-top-width: 0px;
}
.itemGroup-1tL0uz:not(:first-child):not(:empty) {
    border-top-width: 0px;
}
/* Background Blending */
.container-2Thooq {
    background: rgba(32, 34, 37, 0);
}
