//META{"name":"Expose X Lite","description":"Support Server for Expose X: https://discord.gg/Pdz7jAH.","author":"Corbs","version":"2"}*//{}
@import url(https://rawgit.com/CorbsEditor/Themes-for-BetterDiscord/master/Expose%20X%20Lite/ExposeXLiteRAW.theme.css)
