//META{"name":"Expose X Lite Beta","description":" Support Server for Expose X: https://discord.gg/Pdz7jAH.","author":"Corbs","version":"DoesNotAutoUpdate"}*//{}

:root {
    --version: "Beta v0.21";
}

/* You won't miss him */

#friends .friends-empty p {
    color: rgba(0,0,0,.4);
    font-size: 0px;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 50px;
}



.theme-dark #friends .friends-empty.section-pending .empty-state-image {
    visibility: hidden;
    height: 0px;
}
.theme-dark #friends .friends-empty.section-blocked .empty-state-image {
    visibility: hidden;
    height: 0px;
}
.theme-dark #friends .friends-empty.section-add-friend-no-connection .empty-state-image {
    visibility: hidden;
    height: 0px;
}

/* Ooooh! BUTTONS! */

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(114, 137, 218, 0);
    color: #fff;
}

#friends .btn:hover {
    background-color: rgba(105, 126, 196, 0);
}

#friends .btn {
    background-color: rgba(114, 137, 218, 0);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    padding: 4px 8px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgba(114, 137, 218, 0);
    color: #fff;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: rgba(240, 71, 71, 0);
    color: #fff;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: rgba(240, 71, 71, 0);
    color: #fff;
}

/* Showing Version number of Expose X */

.titleBar-AC4pGV::before {
    content: var(--version);
    color: white;
    font-size: 9px;
    font-weight: 500;
    position: fixed;
    -webkit-app-region: drag;
    left: 2px;
    bottom: 1px;
    width: 100px;
}

/* Chat */
 /* Removing line in between messages */
 .theme-dark .message-group:not(.has-divider) {
    border-bottom-color: hsla(0, 0%, 100%, 0);
}

/* Morty, let's jump to present! */
.chat .jump-to-present-bar {
    -webkit-transition: background-color .2s;
    background-color: rgba(153,170,181,.9);
    border-radius: 50px;
    bottom: 0;
    color: hsla(0,0%,100%,.6);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    left: 20px;
    position: absolute;
    right: 20px;
    text-transform: capitalize;
    transition: background-color .2s;
    z-index: 2;
}

/* Morty! ;-; jump to our terrible past */
.chat .new-messages-bar {
    -webkit-transition: background-color .2s;
    background-color: rgba(114,137,218,.9);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    left: 20px;
    position: absolute;
    right: 20px;
    text-transform: capitalize;
    top: 0;
    transition: background-color .2s;
    z-index: 2;
}

/* Text Box */
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: hsla(0, 0%, 100%, 0);
}

.theme-dark .inner-zqa7da {
    background-color: hsla(218, 5%, 47%, 0);
}

.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: #36393f;
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    height: 53px;
}

.theme-dark .inner-zqa7da {
    background-color: hsla(218, 5%, 47%, 0);
    /* height: 10px; */
    margin-top: -15px;
}

.theme-dark .typing-2GQL18 {
    background-color: rgba(54, 57, 62, 0);
}

.typing-2GQL18 {
    bottom: -7px;
}

/* Channel list */
.container-2Rl01u, .header-2o-2hj {
    cursor: pointer;
    position: relative;
    background-color: #27292b;
}

.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH, .iconUnread-2eGkvX {
    visibility: hidden;
}

.icon-1KK5se {
    transform: scale(0.7)
}

.header-2o-2hj {
    box-shadow: none !important;
}

.header-2o-2hj:hover {
    background-color: rgba(0, 0, 0, 0);
}

.scroller-2v3d_F {
    padding-bottom: 20px;
    margin-top: -25px !important;
}

/* Header of Chat */
.theme-dark .title-3qD0b- {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: #36393f;
    box-shadow: none !important;
}

.theme-dark .members-1998pB {
    border-radius: 10px 0px 0px 0px !important;
}

.container-PNkimc {
    background-color: #27292b;
}

/* Friends List */
.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top: 0px solid hsla(0,0%,100%,.1);
}

.private-channels .search-bar {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background-color: transparent;
    border-radius: 0;
    box-shadow: none !important;
    height: 48px;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}

.channels-Ie2l6A {
    -ms-flex-negative: 0;
    background-color: #27292b;
    flex-shrink: 0;
    width: 240px;
}

#friends .friends-table .friends-row:hover {
    -webkit-box-shadow: none !important;
    background: transparent !important;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0 20px;
    padding: 16px 10px;
}

.theme-dark .search .search-bar {
    background-color: hsla(0, 0%, 100%, 0);
}

.search-bar .search-bar-inner {
    -ms-flex: 1;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px;
    position: relative;
    margin-top: 20px;
}

#friends .friends-table .friends-row {
    -webkit-box-shadow: none !important;
    background: transparent !important;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0 20px;
    padding: 16px 10px;
}

#friends .friends-table .friends-row:active {
    -webkit-box-shadow: none !important;
    background: transparent !important;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0 20px;
    padding: 16px 10px;
}

.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: #36393f;
    box-shadow: none;
}

.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
}

.theme-dark #friends .friends-table .friends-table-header {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
}

/* Server List */
.guilds-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -3.5px;
}

.guilds-wrapper .guilds .guild-icon {
    border-radius: 50px !important;
    background-color: transparent !important;
}

.guilds-wrapper .guilds .guild .guild-inner {
    border-radius: 50px !important;
    background-color: transparent !important;
}

 /* Home Icon */
 .guilds-wrapper .guilds .friends-online {
    color: hsla(0,0%,100%,.3);
    font-size: 0px;
    font-weight: 500;
    line-height: 0px;
    margin: 0px 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 50px;
    word-wrap: normal;
}



 .guild-inner.da-guildInner {
    background-color: transparent !important;
}

.guilds-wrapper .guilds .home-icon {
    background-image: url(https://i.imgur.com/lPF4z01.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px 33px;
    height: 50px;
    width: 50px;
    background-color: transparent !important;
    z-index: 10;
    color: transparent !important;
}

svg.home-icon.da-homeIcon {
    background-color: transparent !important;
}



a {
    -webkit-transition: opacity .5s,color .5s;
    color: rgba(0, 176, 244, 0);
    cursor: pointer;
    text-decoration: none;
    transition: opacity .5s,color .5s;
}

/* Context Menu */

.theme-dark .separator-2zcjq8 {
    border-bottom-color: hsla(0, 0%, 96%, 0);
}

.theme-dark .itemGroup-1tL0uz {
    border-color: hsla(0, 0%, 96%, 0);
}

/* Upload Modal */
.uploadModal-2ifh8j .inner-3nWsbo {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    border: 0px dashed #aab8e8;
    border-radius: 10px 10px 0 0;
    color: #fff;
    flex: 1;
    margin: 10px;
}

.uploadModal-2ifh8j .footer-3mqk7D {
    -ms-flex-direction: row;
    -ms-flex-pack: end;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    background-color: rgba(91, 109, 174, 0);
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: rgba(91, 109, 174, 0);
    height: 36px;
    min-width: 84px;
    padding: 0!important;
}

/* Titlebar */
.wordmark-2iDDfm {
    visibility: hidden;
}

/* Status Picker */
.alt-3btY0e .item-1GzJrl .helper-2c73HK {
    font-size: 0px;
    visibility: hidden;
    line-height: 0px;
    margin: 4px 0 0 24px;
    white-space: normal;
}

.popout-3sVMXz.popoutTopLeft-b5Eb3O.popouttop-left.da-popout.da-popoutTopLeft.da-popouttopLeft {
    height: 173;
}

